<h2>Welcome to Yearbook!</h2>
<h3>Start a new game</h3>

<% unless current_user %>
  <%= button_to 'Login with Census', '/auth/census', method: 'get' %>
<% end %>

<%= button_to 'Start Game', games_path %>
