// Place all the styles related to the guesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//TO DO: Widest image size

$content-background: #f4f4f4;
$turing-teal: hsla(184, 95%, 42%, 1);
$guess-text: #3c4040;
$flash-error: #bb2929;
$flash-success: $turing-teal;
$light-text: #fff;


// DELETE THIS TO SHOW ANSWER
#answer {
  display: none;
}

// General Styles
.content {
  margin: 0 auto;
  padding-top: 25px;
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 35px;
  padding: 30px;
  letter-spacing: 5px;
  color: $light-text;
  background-color: $guess-text;
}

// Flash Messages
.flash-container {
  height: 30px;
}

.flash {
  color: $light-text;
  letter-spacing: 1px;
  line-height: 1.8em;
}

#flash-error {
  background-color: $flash-error;
}
#flash-success {
  background-color: $flash-success;
}


// Photo and Photo Container
.photo-content {
  height: 400px;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 900px;
}

#photo {
  display: inline-block;
  margin-right: -4px;
}

#photo img{
  border-radius: 10px;
  height: 405px;
}

// Name Choices
ul {
  border-radius: 10px;
  display: inline-block;
  margin-left: 25px;
  vertical-align: top;
}

li {
  border-bottom: 1px solid $light-text;
  display: block;
  height: 100px;
  width: 360px;
}

.guess-tab {
  background-color: hsla(184, 95%, 42%, 0.6);
  border-radius: 10px;
  color: $light-text;
  display: block;
  font-size: 1.3em;
  height: 100%;
  letter-spacing: 5px;
  line-height: 5em;
  text-decoration: none;
  &:hover {
    background-color: $turing-teal;
  }
}

// Media Queries
@media only screen and (max-width: 800px) {
  #photo img {
    height: 300px;
  }
  ul {
    margin-left: 20px;
    width: 275px;
  }
  li {
    height: 75px;
    width: 275px;
  }
  a {
    font-size: 1em;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
    padding: 10px;
  }
  .content {
    padding-top: 0;
  }
  .photo-content {
    margin-top: 0;
  }
  #photo {
    margin-left: 0;
  }
  #photo img {
    border-radius: 0;
    height: inherit;
    margin-left: -3px;
    width: 320px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: -1px 0 0 1px;
    width: 100%;
  }
  li {
    border: 1px solid $light-text;
    height: 40px;
    width: 49%;
  }
  a {
    border-radius: 0;
    font-size: 1em;
    line-height: 2.5em;
  }
}
